<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Froms</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-fluid">
        {% if not sent %}
            <h1>Form</h1>
            <form action="/contacts/" method="post">
                {% csrf_token %}
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name" required/><br/><br/>

                    <label for="age">Age: </label>
                    <input type="number" id="age" name="age" required/><br/><br/>

                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" required/><br/><br/>

                    <label for="email">Biography: </label>
                    <textarea id="biography" name="biography" rows="4" cols="50" required></textarea><br/><br/>

                    <label for="agreement">Agreemeny: </label>
                    <input type="checkbox" id="agreement" name="agreement" rows="4" cols="50" required/><br/><br/>

                    <input type="submit" value="Send">
            </form>
        {% else %}
        <div class="card bg-light w-25 mt-3">
            <div class="card-header">
                <span class="fw-bold text-dark">{{ request.POST.name }}</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <span class="text-dark">{{ request.POST.age }}</span>
                </div>
                <div class="row">
                    <span class="text-dark">{{ request.POST.email }}</span>
                </div>
                
            </div>
        </div>
        {% endif %}
    </div>
    
</body>
</html>