{% extends 'base.html' %}
{% block title %}Restaurant Creation{% endblock title %}

{% block content %}

<div>
    <h1 class="fw-bold text-dark">{{ title }}</h1>
    <hr/>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <input type="submit" class="btn btn-success w-25" value="Create">
        </div>
        <div class="row">
            <a href="{% url 'main' %}" class="btn btn-danger w-25 mt-2">Cancel</a>
        </div>
        
    </form>
</div>


{% endblock content %}