{% extends 'base.html' %}
{% block title %}Search{% endblock title %}

{% block content %}

<h1 class="fw-bold text-dark">{{ title }}</h1>
<hr/>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-2 d-flex align-items-center"><label for="specialization" class="form-label text-dark"></label>Specialization</label></div>
            <div class="col-3">{{ form.specialization }}</div>
            <div class="col-2"><button type="submit" class="btn btn-outline-dark">Search</button></div>
            <div class="col-3"></div>
            <div class="col-2"><a href="{% url 'main' %}" class="btn btn-outline-secondary w-100">Main</a></div>
        </div>
        
    </form>
    {% if restaurants %}
        {% for restaurant in restaurants %}
        <div class="row border border-dark rounded mb-2 bg-secondary mt-3">
            <div class="col-2 d-flex flex-col justify-content-center align-items-center">
                <span class="fw-bold text-light">{{ restaurant.name }}</span>
            </div>
            <div class="col-2 d-flex flex-col justify-content-center align-items-center">
                <span class="text-light">{{ restaurant.specialization }}</span>
            </div>
            <div class="col-3 d-flex flex-col justify-content-center align-items-center">
                <span class="text-light">{{ restaurant.address }}</span>
            </div>
            <div class="col-2 d-flex flex-col justify-content-center align-items-center">
                <a href="{{ restaurant.website }}" class="text-light">{{ restaurant.website }}</a>
            </div>
            <div class="col-2 d-flex flex-col justify-content-center align-items-center">
                <span class="text-light">{{ restaurant.phone }}</span>
            </div>
            <div class="col-1 d-flex flex-col justify-content-center align-items-center">
                <a href="{% url 'manage' restaurant.id %}" class="btn btn-dark">Edit</a>
            </div>
        </div>
        {% endfor %}
    {% endif %}
<hr/>

{% endblock content %}