Classes/Py-1/src/Py-1/data_types.py
Classes/Py-1/src/Py-1/functions.py
Classes/Py-1/src/Py-1/lists.py
Classes/Py-1/src/Py-1/loops_if.py
Classes/Py-1/src/Py-1/strings.py
Classes/Py-1/src/Py-1/tempCodeRunnerFile.py
Classes/Py-1/src/Py-2/python-2.py
Classes/Py-1/src/Py-3/python-3.py
Classes/Py-1/src/Py-4/python-4-1.py
Classes/Py-1/src/Py-4/python-4.py
Classes/Py-1/src/Py-6/python-6-1.py
Classes/Py-1/src/Py-6/python-6-2.py
Classes/Py-1/src/Py-6/python-6-3.py
Classes/Py-1/src/Py-6/python-6-4.py
film.db
Classes/Py-1/src/Py-7/Python-7-1.py
Classes/Py-1/src/Py-7/Python-7-2.py
Classes/Py-1/src/Py-7/Python-7-3.py
Classes/Py-1/src/Py-9/Python-9.py
Classes/Py-1/src/Py-9/Urls-9.py
Classes/Django/Py-3/urls.py
Classes/Django/Py-3/views.py
Classes/Django/Py-4/urls.py
Classes/Django/Py-4/views.py
Classes/Django/Py-5/urls.py
Classes/Django/Py-5/views.py
Classes/Django/Py-5/templates/course.html
Classes/Django/Py-5/templates/index.html
Classes/Django/Py-5/templates/index1.html
Classes/Django/Py-5/templates/index2.html
Classes/Django/Py-5/templates/index3.html
Classes/Django/Py-5/templates/studentTable.html
Classes/Django/Py-6/urls.py
Classes/Django/Py-6/views.py
Classes/Django/Py-6/templatese/banner.html
Classes/Django/Py-6/templatese/base.html
Classes/Django/Py-6/templatese/baseEnglish.html
Classes/Django/Py-6/templatese/contacts.html
Classes/Django/Py-6/templatese/map.html
Classes/Django/Py-6/templatese/translation.html
Classes/Django/Py-7/urls.py
Classes/Django/Py-7/views.py
Classes/Django/Py-7/templates/contactCBV.html
Classes/Django/Py-7/templates/contacts.html
Classes/Django/Py-7/templates/numbers.html
Classes/Django/Py-7/templates/water.html
HW/Hw-13/images/books/fieldTheory.png
HW/Hw-13/images/books/mechanics.png
HW/Hw-13/images/books/nocover.png
HW/Hw-13/images/books/quantumMechanics.png
HW/Hw-13/images/readers/akane.png
HW/Hw-13/images/readers/nouser.png
