<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task - I</title>
</head>
<body>
    <i>They see your beauty, so frail and fine,</i><br/>
    <i>They see your peace, woven of faith and toil,</i><br/>
    <i>They forget your heart, bound in slumber and servitude,</i><br/>
    <i>When you wake they shall see your truth,</i><br/>
    <i>A beast's nature bare to all.</i><br/><br/>
    - From 'Pharloom’s Folly' by the Conductor Romino
</body>
</html>